
@media #{$device-xs} {
  .app-options{
    flex-direction: column;
    width:100vw !important;
  }

  .option{
    width:90vw;
    margin-top:2.25rem;
  }

}

@media #{$device-xs} {
 /* Insert code mobile size here */

}