body{
  background:
    linear-gradient(
      rgba(var(--black-rgb), 0.880),
      rgba(var(--black-rgb), 0.880)
    ),
    url(../images/music-background.jpg) center no-repeat;
  
}

#wrapper{
  display:flex;
  flex-direction: column;
  justify-content: center;
  width:100vw;
}

#main{
  display:flex;
  justify-content:space-around;
  align-items: center;
  flex-direction: column;
  height:100vh;

  @media #{$device-xs}{
    height:auto;
  }
}


