.app-heading__container{
  display:flex;
  justify-content:center;
  align-items: center;


  .app-heading{
    color:var(--white);
    background:var(--accent);
    border-radius:0.325rem;
    padding:0.4rem 2rem;
    letter-spacing:2px;
  }
}